<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
</head>
<body>
    <%-include('../inc/Top.ejs') %>
    <hr />
    <div class="container">
        <h2>상품 목록</h2>
        <table class="table">
            <tr>
                <th>ID</th>
                <th>IMAGES</th>
                <th>NAME</th>
                <th>PRICE</th>
                <th>YEAR</th>
            </tr>
        <%
            carList.forEach((car)=>{
        %>
            <tr>
                <td><%=car._id %></td>
                <td><img width="50" src="../uploads/<%=car.photos[0].filename %>"/></td>
                <td><a href="/shop/detail?_id=<%=car._id %>"><%=car.name %></a></td>
                <td><%=car.price %></td>
                <td><%=car.year %></td>
            </tr>
        <%
            })
        %>
        </table>
        <hr/>
        <%-include('./ShopNav.ejs') %>
    </div>
</body>
</html>