<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>중고 차 목록</title>
</head>
<body>
    <h1>중고 차 목록</h1>
    <table border="1" width="100%">
        <tr>
            <th>NO</th>
            <th>NAME</th>
            <th>PRICE</th>
            <th>COMPANY</th>
            <th>YEAR</th>
        </tr>
<%
    carList.forEach((car, index)=>{
%>
        <tr>
            <td><%= index %></td>
            <td><%= car.name %></td>
            <td><%= car.price %></td>
            <td><%= car.company %></td>
            <td><%= car.year %></td>
        </tr>
<%
    });
%>
    </table>
</body>
</html>